$bsc-primary-color: #4fc2ca;

$nav-color: #95989a;
$footer-color: #626262;
$home-bg-color: #f2f2f2;
$input-bg-color: #f7f7f7;
$carousel-desc-color: #464646;

$grey-color: #e0e0e0;
$white-color: #ffffff;
$black-color: #000000;
$error-color: #ed7878;
$orange-color: #e85826;


$fb-color: #3b5998;
$google-color: #d34836;
