<div class="footer-container">
  <div class="footer-content tablet-hide">
    <div class="footer-logo">
      <img src="assets/images/logo-grey.png" alt="Logo">
    </div>
    <div class="footer-section-1">
      <p class="footer-text-style p-b-4">
        Discover Men's Grooming Products
      </p>
      <ul class="footer-links p-t-5">
        <li>
          <a class="footer-text-style" [routerLink]="['/beard/beard-growth-oil']">Beard Growth Oil</a>
        </li>
        <li>
          <a class="footer-text-style" [routerLink]="['/bath-care/oil-control-bath-soaps-for-men']">Best Soap for Men
          </a>
        </li>
        <li>
          <a class="footer-text-style" [routerLink]="['/shaving/bundles-shaveregimen-for-men']">Shaving kit for Men</a>
        </li>
        <li>
          <a class="footer-text-style" [routerLink]="['/shaving/precision-safety-razor-for-men']">Safety Razor</a>
        </li>
        <li>
          <a class="footer-text-style" [routerLink]="['/beard-care']">Beard Care</a>
        </li>
      </ul>
    </div>
    <div class="footer-section-2">
      <p class="footer-text-style p-b-4">
        &copy; 2017-2020 Bombay Shaving Company. <br class="desktop-tablet-hide"> All Rights Reserved.
      </p>
      <p class="footer-text-style p-b-4">
        Write to us : care@bombayshavingcompany.com
      </p>
      <ul class="social-icons-footer p-b-5 p-t-5">
        <li>
          <a class="footer-text-style" target="_blank" aria-label="Facebook" rel="noopener"
            href="https://www.facebook.com/bombayshavingcompany">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="footer-text-style" target="_blank" aria-label="Twitter" rel="noopener"
            href="https://twitter.com/bombayshavingco">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="footer-text-style" target="_blank" aria-label="Instagram" rel="noopener"
            href="https://www.instagram.com/bombayshavingcompany">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="footer-text-style" target="_blank" aria-label="LinkedIn" rel="noopener"
            href="https://www.linkedin.com/company/7577706?trk=tyah">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="footer-text-style" target="_blank" aria-label="Youtube" rel="noopener"
            href="https://www.youtube.com/channel/UCfy6FXs2068R9zo8Cfdo2mA">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <ul class="static-links-footer">
        <li>
          <a class="footer-text-style" [routerLink]="['/track-order']">Track Your Order</a>
          <span>/</span>
        </li>
        <li>
          <a class="footer-text-style" [routerLink]="['/corporate-gifts']">Corporate Gifting</a>
          <span>/</span>
        </li>
        <li>
          <a class="footer-text-style" [routerLink]="['/terms-and-conditions']">Terms of Use</a>
          <span>/</span>
        </li>
        <br>
        <li>
          <a class="footer-text-style" [routerLink]="['/privacy-policy']">Privacy </a>
          <span>/</span>
        </li>
        <li>
          <a class="footer-text-style" [routerLink]="['/cancellations-and-refunds']">Returns</a>
          <span>/</span>
        </li>
        <li>
          <a class="footer-text-style" [routerLink]="['/faqs']">FAQ</a>
          <span>/</span>
        </li>
        <li>
          <a class="footer-text-style" [routerLink]="['/contact-us']">Contact Us</a>
          <span>/</span>
        </li>
      </ul>
    </div>
    <div class="footer-section-3">
      <div>
        <img src="assets/images/after-shave.png" alt="after-shave">
      </div>
      <p class="footer-text-style">
        The guide to men’s grooming and lifestyle.
      </p>
    </div>
  </div>
  <div class="footer-content desktop-hide mobile-hide">
    <div class="d-f-s-b t-a-l p-l-r-100">
      <div class="footer-logo">
        <img src="assets/images/logo-grey.png" alt="Logo">
      </div>
      <div class="footer-section-1">
        <p class="footer-text-style p-b-4">
          Discover Men's Grooming Products
        </p>
        <ul class="footer-links p-t-5">
          <li>
            <a class="footer-text-style" [routerLink]="['/beard/beard-growth-oil']">Beard Growth Oil</a>
          </li>
          <li>
            <a class="footer-text-style" [routerLink]="['/bath-care/oil-control-bath-soaps-for-men']">Best Soap for Men
            </a>
          </li>
          <li>
            <a class="footer-text-style" [routerLink]="['/shaving/bundles-shaveregimen-for-men']">Shaving kit for
              Men</a>
          </li>
          <li>
            <a class="footer-text-style" [routerLink]="['/shaving/precision-safety-razor-for-men']">Safety Razor</a>
          </li>
          <li>
            <a class="footer-text-style" [routerLink]="['/beard-care']">Beard Care</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-f-s-b t-a-l p-l-r-100">
      <div class="footer-section-2">
        <p class="footer-text-style p-b-4">
          &copy; 2017 Bombay Shaving Company. <br class="desktop-tablet-hide"> All Rights Reserved.
        </p>
        <p class="footer-text-style p-b-4">
          Write to us : care@bombayshavingcompany.com
        </p>
        <ul class="social-icons-footer p-b-5 p-t-5">
          <li>
            <a class="footer-text-style" target="_blank" aria-label="Facebook" rel="noopener"
              href="https://www.facebook.com/bombayshavingcompany">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="footer-text-style" target="_blank" aria-label="Twitter" rel="noopener"
              href="https://twitter.com/bombayshavingco">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="footer-text-style" target="_blank" aria-label="Instagram" rel="noopener"
              href="https://www.instagram.com/bombayshavingcompany">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="footer-text-style" target="_blank" aria-label="LinkedIn" rel="noopener"
              href="https://www.linkedin.com/company/7577706?trk=tyah">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="footer-text-style" target="_blank" aria-label="Youtube" rel="noopener"
              href="https://www.youtube.com/channel/UCfy6FXs2068R9zo8Cfdo2mA">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <ul class="static-links-footer">
          <li>
            <a class="footer-text-style" [routerLink]="['/track-order']">Track Your Order</a>
            <span>/</span>
          </li>
          <li>
            <a class="footer-text-style" [routerLink]="['/corporate-gifts']">Corporate Gifting</a>
            <span>/</span>
          </li>
          <li>
            <a class="footer-text-style" [routerLink]="['/terms-and-conditions']">Terms of Use</a>
            <span>/</span>
          </li>
          <br>
          <li>
            <a class="footer-text-style" [routerLink]="['/privacy-policy']">Privacy </a>
            <span>/</span>
          </li>
          <li>
            <a class="footer-text-style" [routerLink]="['/cancellations-and-refunds']">Returns</a>
            <span>/</span>
          </li>
          <li>
            <a class="footer-text-style" [routerLink]="['/faqs']">FAQ</a>
            <span>/</span>
          </li>
          <li>
            <a class="footer-text-style" [routerLink]="['/contact-us']">Contact Us</a>
            <span>/</span>
          </li>
        </ul>
      </div>
      <div class="footer-section-3">
        <div>
          <img src="assets/images/after-shave.png" alt="after-shave">
        </div>
        <p class="footer-text-style">
          The guide to men’s grooming and lifestyle.
        </p>
      </div>
    </div>
  </div>
</div>
