<div class="bsc-container m-t-140">
    <div class="login-page-container">
      <div class="login-page-heading">
        
        <h1>
          Login
        </h1>
      </div>
      <div class="form-container" >
        <div class="form-content">
          <form [formGroup]="userLoginForm" (ngSubmit)="loginUser()" autocomplete="off">
            <div class="form-group">
              <label class="form-label">
                Email Address <img src="assets/images/icons/check.png" alt="check">
              </label>
              <input placeholder="bombay@xyz.com" class="form-input" type="email" formControlName="email"
                [ngClass]="{'error-box': userLoginForm.get('email').invalid && ( userLoginForm.get('email').touched || submitted ) }">
              <app-control-messages [inputName]="'Email Address'" [control]="userLoginForm.get('email')"
                [submitted]="submitted">
              </app-control-messages>
            </div>
            <div class="form-group">
              <label class="form-label">
                Password
                <br>
                <span class="informative-text">MIN. 6 CHARACTERS</span>
              </label>
              <input placeholder="Enter password here" class="form-input" type="password" formControlName="password"
                [ngClass]="{'error-box': userLoginForm.get('password').invalid && ( userLoginForm.get('password').touched || submitted ) }">
              <app-control-messages [inputName]="'Password'" [control]="userLoginForm.get('password')"
                [submitted]="submitted">
              </app-control-messages>
            </div>
            <div class="form-btn">
              <button class="submit-btn" type="submit">Sign In</button>
            </div>
          </form>
        </div>
        <div class="forgot-password-link">
          <p>
            <a [routerLink]="['/user/sign-up']"><span>Signup</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>